@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-size: cover;
  font-family: 'Poppins';
  background-color: #f0f0f0
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  margin-top: 1em;
}

h4 {
  margin: 0;
}

#content {
  width: 600px;
  height: 450px;
  border: 10px solid #222224;
  border-radius: 10px;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  background-size: cover;
  background-color: #f00000;
  padding: 20px;
  border-radius: 10px; 
}

#search-box {
  margin-top: 1em;
  margin-bottom: 1em;
}

#input-form {
  border: 2px solid #222224;
  height: 2em;
  width: 15em;
  border-radius: 10px;
  margin-right: 1em;
}

#search-button {
  height: 2em;
  border: 2px solid #222224;
  border-radius: 10px;
}

#search-button:hover {
  cursor: pointer;
  background-color:rgb(189, 184, 184)
}

#info {
  flex: 2;
  text-align: center;
  border-radius: 10px;
  margin-left: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#list {
  flex: 1;
  font-size: 18px;
  overflow-y: auto;
  background-color: white;
  border-radius: 10px;
  max-height: 450px;
  border: solid #222224;
}

.pokemon-name {
  margin: 5px;
  padding: 5px;
}

.pokemon-name:hover {
  background-color: #e4e3e3;
  border-radius: 5px;
  cursor: pointer;
}

.pokemon-name:active {
  background-color: #e4e3e3;
  border-radius: 5px;
}

#info img {
  width: 160px;
  height: 160px;
  margin-top: 20px;
}

#pokemon-types {
  margin-top: 10px;
}

.type-box {
  padding: 3px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 10px;
}


.normal {
  background-color: rgb(202, 202, 186);
  color: white;
}

.fire {
  background-color: rgb(255, 102, 0);
  color: white;
}

.grass {
  background-color: green;
  color: white;
}

.water {
  background-color: blue;
  color: white;
}

.ice {
  background-color: lightblue;
  color: white;
}

.electric {
  background-color: gold;
  color: white;
}

.fighting {
  background-color: brown;
  color: white;
}

.flying {
  background-color: rgb(147, 224, 255);
  color: white;
}

.bug {
  background-color: yellowgreen;
  color: white;
}

.ghost {
  background-color: purple;
  color: white;
}

.rock {
  background-color: sienna;
  color: white;
}

.ground {
  background-color: rgb(187, 149, 100);
  color: white;
}

.steel {
  background-color: rgb(156, 153, 153);
  color: white;
}

.dark {
  background-color: rgb(84, 84, 84);
  color: white;
}

.psychic {
  background-color: palevioletred;
  color: white;
}

.fairy {
  background-color: rgb(255, 186, 197);
  color: white;
}

.dragon {
  background-color: teal;
  color: white;
}

.poison {
  background-color: darkviolet;
  color: white;
}
#pokemon-name {
  margin: 5px;
  padding: 5px;
}

#pokemon-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid #222224;
  border-radius: 10px;
  background-color: white;
  width: 350px;
}

#pokemon-description {
  border: solid #222224;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 2px;
  font-size: 18px;
  overflow-y: auto;
  background-color: white;
  height: 200px;
}

#pokemon-innerbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.pokeball {
  height: 250px;
  width: 250px;
  border: 13px solid #222224;
  border-radius: 50%;
  background-image: linear-gradient(
    #f00000 50%,
    #f0f0f0 50%
  );
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  animation: load 2s infinite;
}

@keyframes load {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1); 
  }
  50% {
    transform: translate(-50%, -50%) scale(0.7); 
  }
}

.pokeball:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 250px;
  background-color: #222224;
  top: 112.5px;
  left: 0px;
}

.pokeball:after {
  position: absolute;
  content: "";
  height: 90px;
  width: 90px;
  background-image: radial-gradient(
    #ffffff 0px, #ffffff 10px,
    #222224 10px, #222224 15px,
    #ffffff 15px, #ffffff 32px,
    #222224 32px
  );
  border-radius: 50%;
  top: 80px;
  left: 80px;
}